<?xml version = "1.0" encoding = "UTF-8"?>




<beans xmlns = "http://www.springframework.org/schema/beans" 
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	
	<bean id = "jc" class = "com.tutorialspoint.JavaCollection">
		
		
		
		<!-- each property is a different aspect of a bean -->
		<property name = "addressList">
			<list>
			
			<value> = Chocolate </value>
			<value> = LemonCake </value>
			<value> = Truffles </value>
			<value> = Chocolate </value>
			
			</list> 
		</property>
	
	
		<property name = "addressSet">
			<set>
			
			<value> = Chocolate </value>
			<value> = LemonCake </value>
			<value> = Truffles </value>
			<value> = Chocolate </value>
			
			</set> 
		</property>
	
		<property name = "addressMap">
			<map>
			
			<entry key="1" value = "Chocolate" />
			<entry key="2" value = "Chocolate" />
			<entry key="3" value = "LemonCake" />
			<entry key="4" value = "Truffles" />
			
			</map> 
		</property>
	
		<property name = "addressProp">
			<props>
			
			<prop key="one" >Chocolate </prop>
			<prop key="two" >Chocolate</prop>
			<prop key="thee" >LemonCake</prop>
			<prop key="four" >Truffles</prop>
			
			</props> 
		</property>

	</bean>


</beans>